body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  max-width: 100%;
  width:1440px;
  margin: 0 auto;
}

main{
  width: 71%;
  margin: 0 auto;
  /* border: solid black; */
}

.mainIMG{
  display: block;
  margin-top: 86px;
  margin-left: 22%;
}

input{
  width:90%;
  background-image: url(./images/Icon.png);
  background-repeat: no-repeat;
  background-position: 14px ;
  padding: 18px 47px 19px;
  border-radius: 8px;
  margin-top: 16px;
  margin-left: 0px;
  margin-bottom: 61px;
  border-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  letter-spacing: 1px;
}

.cardsWrapper{
  width: 100%;
  /* border: solid black 1px; */
  display: flex;
  flex-wrap: wrap;
  gap:2%;
}

.card_container{
  width: fit-content;
  border-radius: 4px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 4px;
}

.card_container img{
  border-radius: 4px;
  width: 240px;
  height: 168px;
  object-fit: cover;
  margin-bottom: 11px;
}

.card_container p{
  font-family: 'Roboto';
  padding-left: 16px;
  margin: 0;
}
.card_container p:first-of-type{
  font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.15px;
}
.card_container p:last-of-type{
  margin-bottom: 17px;
  letter-spacing: 0.25px;
}

